<!-- Categories Section Begin -->
<section class="categories">
    <div class="container">
        <div class="row">
            @{ Html.RenderAction("getListCategories", "Default");}
        </div>
    </div>
</section>
<!-- Categories Section End -->
<!-- Featured Section Begin -->
<section class="featured spad">
    <div class="container">
        @{ Html.RenderAction("getFeaturedCategory", "Default");}
    </div>
</section>
<!-- Featured Section End -->
<!-- Banner Begin -->
<div class="banner">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="~/Uploads/img/banner/banner-1.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="banner__pic">
                    <img src="~/Uploads/img/banner/banner-2.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Banner End -->
<!-- Latest Product Section Begin -->
<section class="latest-product spad">
    <div class="container">
        <div class="row">
            @{Html.RenderAction("getLastestProduct", "Default");}
            @{Html.RenderAction("getTopProduct", "Default");}
            @{Html.RenderAction("getReviewProduct", "Default");}
        </div>
    </div>
</section>
<!-- Latest Product Section End -->
<!-- Blog Section Begin -->

@{ Html.RenderAction("getBlogs", "Default");}
<!-- Blog Section End -->
